* {
  box-sizing: border-box;
}

.container {
  width: 500px;
  height: 500px;
}

.info {
  padding: 15px;
  border-style: solid;
  border-color: #B72920;
  border-width: 3px;
  height: 220px;
  overflow: scroll;
}
}